.c-media {
    padding: $std-dim-large 0;
    text-align:center;
}

.c-media__controls {
    button {
        padding: $std-dim $std-dim-large;
        margin: 0 $std-dim;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 20px;
        background: $nasa-blue;

        &:hover {
            background-color: darken($nasa-blue, 5%);
            transition: background-color 0.5s;
        }
    }
}